/*Main Part of CSS*/
body {
    height: 100dvh;
    background-color: white;
    width: 100dvw;
    color: white;
    overflow-x: hidden;

}

section{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}



/*Navigation Bar*/
header {
    position: fixed;
    top: 0;
    display: flex;
    z-index: 30;
}

nav {
    width: 100dvw;
    height: 80px;
    background-color: #0e131a;
    position: fixed;
    top: 0;
    z-index: 8;
}

label.logo {
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    margin-left: 20px;
    position: sticky;
    z-index: 10;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    left: 12px;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/resources/DP130155.png');
    color: transparent;
}

nav ul {
    color: rgb(107 114 128);
    float: right;
    position: relative;
    margin-right: 32dvw;
    margin-top: 1.5dvh;
    height: 60px;
    transition: all 0.7s;
    background-color: #d1d3d6;
    opacity: 1;
    transition: background-color 0s;
    border-radius: 9999px;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin: 0 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 60px;

}

nav ul li a {
    color: #6B7280;
    text-decoration: none;
    font-size: 17px;
    position: sticky;
    font-weight:500;
}

.checkbtn {
    font-size: 30px;
    color: white;
    line-height: 80px;
    cursor: pointer;
    display: none;
    z-index: 10;
    margin-right: 5%;
}

#check {
    display: none;
}

nav a.active,
nav a:hover {
    opacity: 1;
    color: #030712;
    transition: 0.5s;
    text-decoration: none;
}




/*Intro Section*/
.s-intro {
    background-color: #0e131a;
    height: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.intro-content {
    padding-top: 15dvh;
    width: 100dvw;
}

.intro-pic:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all 0.5s ease-in-out;
}
.desc:hover~.icos {
    margin-top: 11.5%;
    transition: all 0.5s;
}

.intro-pic {
    border-radius: 100%;
    width: 50%;
    transition: all 0.5s ease-in-out;

}

.pic {
    width: 50dvw;
    margin-right: -28dvw;
    position: relative;
    z-index: 5;
    flex: 1;
}

.text {
    position: relative;
    flex: 1;
    margin-left: 5%;
    width: fit-content;
    z-index: 6;
}

.atext {
    width: 60%;
}

.desc {
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    transition: margin-left 0.5s ease-in-out;
    flex-wrap: wrap;
}

.icos:hover {
    margin-top: 11.5%;

}

.langico {
    width: 7dvh;
    position: relative;
    margin-top: -90%;
    margin-right: 2dvh;
    margin-left: 2dvh;
}

.icos {
    margin-left: 22%;
    width: fit-content;
    height: fit-content;
    z-index: 3;
    transition: margin-top 1s ease-in-out;
    transition-delay: 2s;
    position: relative;
}




/*About Section*/
.s-about {
    color: black;
    padding-top: 15dvh;
    padding-left: 13dvw;
    text-align: justify;
}

.am {
    font-size: 50px;
    font-weight: 380;
    padding-left: 1dvw;
    padding-bottom: 8dvh;
}

.lead {
    padding-right: 3dvw !important;
    font-weight: 350;
    font-size: 24px;
}

.about-me {
    margin-left: -2%;
    padding-bottom: 20dvh;
}

.plink {
    font-size: 60px;
    color: black;
    z-index: 10;
    margin-left: 10dvw;
    margin-top: -10dvh;
}

.fa-brands {
    padding-left: 8%;
}

.moon {
    font-size: 30px;
    font-weight: 470;
}

.about-me a.active,
.about-me a:hover {
    opacity: 1;
    color: #0e131a;
    transition: 0.5s;
    text-decoration: none;
}

a {
    color: rgb(40, 40, 40);
}




/*Media Queries*/
@media (max-width: 1100px) {
    @keyframes popout {
        from{transform:scale(0)}
        80%{transform:scale(1.2)}
        to{transform:scale(1)}
    }
    nav ul li a {
        font-size: 16px;
    }
    nav ul {
        margin-right: 13%;
        transition: height 0s;
        transition: width 3s;
    }
    .desc {
        margin-left: 12dvw !important;
        transition: margin-left 0.5s ease-in-out;
    }

    .text {
        margin-top: 4dvh;
    }
}

@media (max-width: 1000px) {
    .desc {
        flex-direction: column;
        margin-left: 0dvw !important;
        width: 100dvw;
    }

    .s-intro {
        height: max-content;
    }

    .text {
        width: 90dvw !important;
        text-align: justify;
    }

    .intro-pic {
        width: 50dvw !important;
    }

    .pic {
        padding-left: 26dvw !important;
    }

    .atext {
        padding-left: 20dvw !important;
        padding-right: 10dvw !important;
        font-size: 20px;
        width: 80dvw;
    }

    .display-4 {
        padding-left: 20dvw !important;
        padding-right: 20dvw !important;
    }

    .desc:hover+.icos {
        margin-top: 20dvh;
        transition: all 0.5s;
    }

    .icos:hover {
        margin-top: 50%;
    }

    .langico {
        width: 7dvh;
        position: relative;
        margin-top: -190dvh;
        margin-right: 2dvh;
        margin-left: 2dvh;
    }

    .icos {
        margin-left: 32%;
        width: fit-content;
        z-index: 3000;
        height: fit-content;
    }
}

@media (max-width: 871px) {
    .checkbtn {
        position: relative;
        z-index: 10;
        display: block;
        float: right;
    }

    .s-intro {
        width: fit-content;
        height: max-content;
    }

    nav ul {
        position: fixed;
        padding-left: 0% !important;
        width: 100dvw;
        height: 100dvh;
        background-color: #0e131a;
        top: 80px;
        top: -300%;
        margin-top: 0dvh;
        border-radius: 0px;
        text-align: center;
        transition: all 0.5s;
        transition: background-color 0s;
        margin-left: 0% !important;
    }
    nav ul li {
        display: block;
    }

    nav a:hover,
    nav a.active {
        color: white;
    }

    .display-4 {
        font-size: 40px;
        width: fit-content;
        padding-left: 20dvw !important;
        padding-right: 15dvw !important;
    }

    #check:checked~ul {
        top: 80px !important;
    }

    .text {
        width: 100dvw;
    }

    .atext {
        font-size: 20px;
        width: 100%;
        padding-left: 20dvw !important;
        padding-right: 15dvw !important;
    }

    .icos {
        margin-left: 29%;
        width: fit-content;
        z-index: 3000;
        height: fit-content;
    }

    .langico {
        width: 7dvh;
        position: relative;
        margin-top: -220dvh;
    }

    .desc:hover+.icos {
        margin-top: 35dvh;
        transition: all 0.5s;
    }
}

@media (max-width:641px) {
    .pic {
        width: 100vw !important;
    }

    .intro-pic {
        width: 100vw;
    }

    .text {
        font-size: small;
        text-align: justify;
    }

    .atext {
        width: 100% !important;
        font-size: large;
        padding-left: 8dvw !important;
        padding-right: 8dvw !important;
    }

    .text .display-4 {
        font-size: 30px;
        padding-left: 8dvw !important;
        padding-right: 8dvw !important;
    }
}